mat-sidenav-container {
  mat-sidenav{
    background-color: darkblue;
    color: white;
  }
  mat-sidenav-content {
    height: 100vh;
  }

  .menu-container {
    margin: 1.5rem 0.8rem;

    .list-element{
      .element{
        display: table-cell;
        vertical-align: middle;
        width: 100%;
        height: 40px;
      }
    }
    :first-child {
      list-style: none !important;
    }

    .has-children {
      list-style: none;
      padding-left: 0;

      button{
        width: 75% !important;
        background-color: inherit;
        border: none;
        color: white;
        font-size: .9rem;
        padding: 0;
        text-align: left;

        mat-icon{
          vertical-align: bottom;


        }
      }
    }
  }
}


/*mat-toolbar{
  .profile{
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}*/

/*
.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

!*
 * This padding sets alignment of the nested nodes.
 *!
.example-tree .mat-nested-tree-node div[role=group] {
  padding-left: 15px;
}

!*
 * Padding for leaf nodes.
 * Leaf nodes need to have padding so as to align with other non-leaf nodes
 * under the same parent.
 *!
.example-tree div[role=group] > .mat-tree-node {
  padding-left: 45px;
  border-bottom: 2px gainsboro;
}

.mat-tree-node {
  padding: 0 20px;

  .element{
    border-bottom: solid 1px gainsboro;
    width: 100%;
    cursor: pointer;
  }

  &:hover {
    background-color: gainsboro;
    border-radius: 10px;
  }
}*/

#myBtn {
  position: fixed;
  bottom: 50px;
  right: 30px;
  z-index: 99;
  background-color: #0d6efd;
  color: white;
}
