<mat-sidenav-container id="sidenav-container">
  <mat-sidenav id="sidenav" #sidenav>
    <div class="img-fluid">
      <img style="max-width: 250px" src="./assets/img/progress.jpeg" alt="">
    </div>
    <!--<ul>
      <ng-container
        *ngTemplateOutlet="recursiveListTmpl; context:{ list: list }"
      ></ng-container>
    </ul>

    <ng-template #recursiveListTmpl let-list="list">
      <li *ngFor="let item of list">
        {{ item.title }}
        <ul *ngIf="item.children.length > 0">
          <ng-container
            *ngTemplateOutlet="recursiveListTmpl; context:{ list: item.children }"
          ></ng-container>
        </ul>
      </li>
    </ng-template>-->
    <!--<ul>
      <ng-template #recursiveList let-list>
        <li *ngFor="let item of list">
          {{item.name}}
          <ul *ngIf="!!item.children && item.children.length > 0">
            <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: item.children }"></ng-container>
          </ul>
        </li>
      </ng-template>
      <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: list }"></ng-container>
    </ul>
    <p>&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;</p>-->
    <div class="menu-container">
      <ul>
        <ng-container
          *ngTemplateOutlet="recursiveListTmpl; context:{ list: list }"
        ></ng-container>
      </ul>
      <ng-template #recursiveListTmpl let-list="list">
        <li [id]="'element'+item.id" class="list-element" *ngFor="let item of list;">
          <div (click)="redirect(item)" class="element" *ngIf="!(!!item.children && item.children.length > 0)"><mat-icon style="vertical-align: bottom"> {{item.icon}}</mat-icon>{{item.name}}</div>
          <ul class="has-children" *ngIf="!!item.children && item.children.length > 0">
            <div class="text-nowrap element" [id]="'heading'+item.id"><mat-icon style="vertical-align: bottom"> {{item.icon}}</mat-icon>
              <button class="expandible" [id]="'button'+item.id"
                      (click)="expandOrCollapse(item)" [attr.data-bs-target]="'#collapse'+item.id"
                      [attr.aria-controls]="'collapse'+item.id" type="button"
                      data-bs-toggle="collapse" aria-expanded="true">
                {{ item.name }}
                <mat-icon [id]="'icon'+item.id">expand_more</mat-icon>
              </button>
            </div>
            <!--              </div>-->
            <!--            </div>-->
            <!--              <mat-icon>expand_less</mat-icon>-->
            <div [id]="'collapse'+item.id" class="collapse" aria-labelledby="headingOne"
                 [attr.aria.labelledby]="'heading'+item.id">
              <div style="padding: 0.5rem 1rem;">
                <ng-container
                  *ngTemplateOutlet="recursiveListTmpl; context:{ list: item.children }"
                ></ng-container>
              </div>
            </div>

          </ul>
        </li>
      </ng-template>
    </div>

    <!-- <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree">
       <mat-tree-node *matTreeNodeDef="let node;" (click)="redirect(node)" matTreeNodeToggle>
         <div class="w-100 element">{{node.name}}</div>

       </mat-tree-node>
       <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
         <div class="mat-tree-node">
           <button mat-icon-button matTreeNodeToggle
                   [attr.aria-label]="'Toggle ' + node.name">
             <mat-icon class="mat-icon-rtl-mirror">
               {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
             </mat-icon>
           </button>
           {{node.name}}
         </div>
         <div [class.example-tree-invisible]="!treeControl.isExpanded(node)"
              role="group">
           <ng-container matTreeNodeOutlet></ng-container>
         </div>
       </mat-nested-tree-node>
     </mat-tree>-->
  </mat-sidenav>
  <mat-sidenav-content id="sidenav-content">

      <mat-toolbar color="primary">
        <button mat-icon-button
                aria-label="Menu"
                (click)="open(sidenav)">
          <mat-icon>menu</mat-icon>
        </button>
        <div>
          <span *ngFor="let breadcrumb of breadcrumbs;let i = index; let last = last;">
            <a class="text-white font-size-10" href="">{{breadcrumb.name}}</a>
            <span *ngIf="!last"> • </span>
          </span>
        </div>
        <app-profile></app-profile>
      </mat-toolbar>
      <div id="page-container" style="padding: 20px">
        <mat-card>
          <router-outlet></router-outlet>
        </mat-card>
        <button class="btn" (click)="toUp()" id="myBtn" title="Go to top">
          <mat-icon>arrow_upward</mat-icon>
        </button>
      </div>

    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>


