<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <div class="img-fluid">
      <img style="max-width: 250px" src="./assets/img/progress.jpeg" alt="">
    </div>
    <!--    <mat-nav-list>-->
    <!--      <a *ngFor="let route of routes"-->
    <!--         mat-list-item-->
    <!--         [routerLink]="route.path"-->
    <!--         (click)="sidenav.toggle()"> {{route.label}}</a>-->
    <!--    </mat-nav-list>-->
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree">
      <!-- This is the tree node template for leaf nodes -->
      <!-- There is inline padding applied to this node using styles.
        This padding value depends on the mat-icon-button width. -->

      <mat-tree-node *matTreeNodeDef="let node" (click)="check(node)" matTreeNodeToggle>
        <div class="w-100 element">{{node.name}}</div>

      </mat-tree-node>
      <!-- This is the tree node template for expandable nodes -->
      <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
        <div class="mat-tree-node">
          <button mat-icon-button matTreeNodeToggle
                  [attr.aria-label]="'Toggle ' + node.name">
            <mat-icon class="mat-icon-rtl-mirror">
              {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
          </button>
          {{node.name}}
        </div>
        <!-- There is inline padding applied to this div using styles.
            This padding value depends on the mat-icon-button width.  -->
        <div [class.example-tree-invisible]="!treeControl.isExpanded(node)"
             role="group">
          <ng-container matTreeNodeOutlet></ng-container>
        </div>
      </mat-nested-tree-node>
    </mat-tree>
  </mat-sidenav>
  <mat-sidenav-content>
    <div>
      <mat-toolbar color="primary">
        <button mat-icon-button
                aria-label="Menu"
                (click)="sidenav.open()">
          <mat-icon>menu</mat-icon>
        </button>
        <div class="profile">
          <mat-chip-list aria-label="Dog selection">
            <mat-chip [matMenuTriggerFor]="menu" #menuTrigger color="primary">
              <mat-menu #menu="matMenu">
                <p>Profile Data!</p>
              </mat-menu>
              <mat-chip-avatar>
                <img src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Photo of a Shiba Inu"/>
              </mat-chip-avatar>
            </mat-chip>
          </mat-chip-list>
          <!--
          <button mat-button [matMenuTriggerFor]="menu" #menuTrigger>Menu</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="openDialog()">Open dialog</button>
</mat-menu>
          -->

          <!--          <button>Click!</button>-->
        </div>
      </mat-toolbar>
      <div id="page-container" style="padding: 20px">
        <mat-card>
          <router-outlet></router-outlet>
        </mat-card>

      </div>
      <!--<div style="text-align: end">
        <button mat-fab color="primary" aria-label="Example icon button with a home icon">
          <mat-icon>home</mat-icon>
        </button>
      </div>-->
    </div>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>

